header {
    background-color: #004333;
}

header h1 {
    color: #fff;
    font-style: PT serif;
    size: 40px;
}

header nav {
    background-color: #668844;
    color: #fff;
    font-style: PT serif;
}

header nav a {
    color: #fff;
}

header nav a:hover {
    color: #ffa500;
}
